*{
    margin:0;
    padding:0;
    
}
body{
    background-color: rgb(44, 44, 65);
}
.container{
    height:100vh;
    width: 100vw;

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
h2{
    color:white;
}
.keyboard{
    padding: 30px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;   
    background-color: rgba(7, 7, 100, 0.384);
    
}
.inputfield input[type=text]{
    background-color: hwb(240 3% 77% / 0.637) ;
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 100%;
    text-align: right;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
input[type=button]{
    padding: 20px;
    border-radius: 5px;
    font-size:15px;
    cursor: pointer;
    width: 100%;
    margin:0;
}

.gridR, .gridE{
    grid-column: span 2;
    text-align: center;
    
}
.gridE input[type=button]{
    background-color: brown;
    width: 100%;
    margin:0;
    color: white;
}
.gridR input[type=button]{
    background-color:rgb(44, 44, 65);
    color: white;
}
.gridD input[type=button]{
    background-color: rgb(44, 44, 65);
    color: white;
}
